.itementry {
  border: 2px solid #f5f5f5;
  background: #f5f5f5;
  color: #333;
  width:100%;

}

.Header{
  border: 2px solid #f5f5f5;
  display: inline-block;
  text-align: center;
  padding: 10px 10px 10px 10px;
  height: auto;
  margin: 5px 5px 5px 5px;
}

.tablein{
    box-sizing: border-box;
    border: none;
    padding: 0px;
    background-color: #3CBC8D;
    color: white;
    height:25px;
    width: 100px;
    font-size: 15px;
    margin: 0;
}
.adder{
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
    color: green;
    display: inline-block;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}
.adder:hover {
    background-color: #4CAF50;
    color: white;
}


